<nav class="posts">
  <h2 class="visually-hidden">最近の記事とその概要</h2>
  <ul class="posts__list">
    {{- $section := .CurrentSection -}}
    {{- if $section.IsHome -}}
      {{ .Scratch.Set "pages" $.Site.RegularPages }}
    {{- else -}}
      {{ .Scratch.Set "pages" $section.Pages }}
    {{- end -}}
    {{- range (.Scratch.Get "pages") -}}
    <li class="posts__item">
      <a class="posts__link" href="{{ .Permalink }}">
        {{- $at := .Date.Format "2006年1月2日" -}}
        {{- $no := strings.TrimLeft "0" .BaseFileName -}}
        <h3 class="posts__title" aria-label="{{ $at }} {{ $no }}番目の記事">
          <time class="posts__time" datetime="{{ .Date.Format "2006-01-02" }}">
            {{- $at -}}
          </time>
          {{- printf " #%s" $no -}}
        </h3>
        <div class="posts__content">{{- .Summary | plainify -}}</div>
      </a>
    </li>
    {{- end -}}
  </ul>
</nav>
